@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

body {
    font-family: Roboto, Arial, Verdana, sans-serif;
    padding: 1rem;
}

#results {
    font-size: 1.5rem;
    padding: 1rem;
}